In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import files
uploades = files.upload()

Saving dummy.csv to dummy.csv

In [ ]:
data = pd.read_csv('dummy.csv')
data

,Nama,Email,Jenis Kelamin,Umur,Kota Domisili,Pekerjaan,No HP,Hobi,Preferensi Perjalanan,SIM
0,Nadia Sinaga,nadiasinaga@example.com,Wanita,18,Kendari,Building surveyor,878034636778,Berkebun,Wisata Alam,-
1,Ajimat Mansur,ajimatmansur@example.com,Wanita,30,Serang,Film/video editor,813884825754,Membaca,Wisata Sejarah dan Religi,SIM A dan C
2,Emong Nasyidah,emongnasyidah@example.com,Wanita,28,Pontianak,"Scientist, product/process development",896986982981,Membaca,Wisata Sejarah dan Religi,SIM A dan C
3,Jamil Suartini,jamilsuartini@example.com,Wanita,20,Malang,"Editor, magazine features",876504901522,Membaca,Wisata Kuliner,SIM A dan C
4,dr. Vinsen Winarsih,drvinsenwinarsih@example.com,Pria,23,Kota Administrasi Jakarta Timur,Newspaper journalist,822916926998,Membaca,Wisata Alam,-
...,...,...,...,...,...,...,...,...,...,...
19995,KH. Rizki Sihombing,khrizkisihombing@example.com,Wanita,30,Batu,Pathologist,870103402123,Fotografi,Wisata Kuliner,SIM C
19996,"Tgk. Ganjaran Tamba, S.E.I",tgkganjarantambasei@example.com,Wanita,32,Medan,Restaurant manager,887373731212,Fotografi,Wisata Alam,SIM A dan C
19997,R.A. Aurora Hutagalung,raaurorahutagalung@example.com,Pria,41,Bukittinggi,Retail banker,872497411483,Menyelam,Wisata Alam,SIM C
19998,Luthfi Melani,luthfimelani@example.com,Pria,39,Tidore Kepulauan,Media buyer,870489340621,Menulis,Wisata Seni dan Budaya,SIM A dan C
19999,"Puti Ellis Anggriawan, M.M.",putiellisanggriawanmm@example.com,Wanita,47,Jayapura,"Surveyor, rural practice",837500569784,Memasak,Wisata Seni dan Budaya,SIM A dan C

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.metrics.pairwise import cosine_similarity

In [ ]:
# Reorder the columns to have 'Nama' as the first column
data = data[['Nama', 'Jenis Kelamin', 'Umur', 'Hobi', 'Preferensi Perjalanan']]
data

,Nama,Jenis Kelamin,Umur,Hobi,Preferensi Perjalanan
0,Nadia Sinaga,Wanita,18,Berkebun,Wisata Alam
1,Ajimat Mansur,Wanita,30,Membaca,Wisata Sejarah dan Religi
2,Emong Nasyidah,Wanita,28,Membaca,Wisata Sejarah dan Religi
3,Jamil Suartini,Wanita,20,Membaca,Wisata Kuliner
4,dr. Vinsen Winarsih,Pria,23,Membaca,Wisata Alam
...,...,...,...,...,...
19995,KH. Rizki Sihombing,Wanita,30,Fotografi,Wisata Kuliner
19996,"Tgk. Ganjaran Tamba, S.E.I",Wanita,32,Fotografi,Wisata Alam
19997,R.A. Aurora Hutagalung,Pria,41,Menyelam,Wisata Alam
19998,Luthfi Melani,Pria,39,Menulis,Wisata Seni dan Budaya
19999,"Puti Ellis Anggriawan, M.M.",Wanita,47,Memasak,Wisata Seni dan Budaya

In [ ]:
# Preprocess the data
data['Preferensi Perjalanan'] = data['Preferensi Perjalanan'].apply(lambda x: ''.join(x.split()).lower())
data['Jenis Kelamin'] = data['Jenis Kelamin'].apply(lambda x: x.lower())
data['Hobi'] = data['Hobi'].apply(lambda x: x.lower())
data.set_index('Nama', inplace=True)
data

,Jenis Kelamin,Umur,Hobi,Preferensi Perjalanan
Nama,,,,
Nadia Sinaga,wanita,18,berkebun,wisataalam
Ajimat Mansur,wanita,30,membaca,wisatasejarahdanreligi
Emong Nasyidah,wanita,28,membaca,wisatasejarahdanreligi
Jamil Suartini,wanita,20,membaca,wisatakuliner
dr. Vinsen Winarsih,pria,23,membaca,wisataalam
...,...,...,...,...
KH. Rizki Sihombing,wanita,30,fotografi,wisatakuliner
"Tgk. Ganjaran Tamba, S.E.I",wanita,32,fotografi,wisataalam
R.A. Aurora Hutagalung,pria,41,menyelam,wisataalam
Luthfi Melani,pria,39,menulis,wisatasenidanbudaya
"Puti Ellis Anggriawan, M.M.",wanita,47,memasak,wisatasenidanbudaya

In [ ]:
# Create bag of words for data
data['bag_of_words'] = data['Jenis Kelamin'].astype(str) + ' ' + data['Umur'].astype(str) + ' ' + ' ' + data['Hobi'].astype(str) + ' ' + data['Preferensi Perjalanan'].astype(str)
data.drop(columns=['Jenis Kelamin', 'Umur', 'Hobi', 'Preferensi Perjalanan'], inplace=True)
data

                                                          bag_of_words
Nama
Nadia Sinaga                            wanita 18  berkebun wisataalam
Ajimat Mansur                wanita 30  membaca wisatasejarahdanreligi
Emong Nasyidah               wanita 28  membaca wisatasejarahdanreligi
Jamil Suartini                        wanita 20  membaca wisatakuliner
dr. Vinsen Winarsih                        pria 23  membaca wisataalam
...                                                                ...
KH. Rizki Sihombing                 wanita 30  fotografi wisatakuliner
Tgk. Ganjaran Tamba, S.E.I             wanita 32  fotografi wisataalam
R.A. Aurora Hutagalung                    pria 41  menyelam wisataalam
Luthfi Melani                     pria 39  menulis wisatasenidanbudaya
Puti Ellis Anggriawan, M.M.     wanita 47  memasak wisatasenidanbudaya

[20000 rows x 1 columns]

In [ ]:
# Split data into training and testing sets
train_data, test_data = train_test_split(data, test_size=0.2, random_state=42)

In [ ]:
print(train_data.shape)
print(test_data.shape)

(16000, 1)
(4000, 1)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer
# Create count matrix for data
count = CountVectorizer()
count_matrix = count.fit_transform(data['bag_of_words'])

indices = pd.Series(data.index)
cosine_sim = cosine_similarity(count_matrix, count_matrix)

def recommendations(nama, cosine_sim=cosine_sim):
  recommended_people = []
  idx = indices[indices == nama].index[0]
  score_series = pd.Series(cosine_sim[idx]).sort_values(ascending=False)
  top_10_indexes = list(score_series.iloc[1:11].index)
  for i in top_10_indexes:
    recommended_people.append(list(data.index)[i])
  return recommended_people

In [ ]:
recommendations('Nadia Sinaga')

['Wahyu Sihombing',
 'Latif Mansur',
 'Ir. Jelita Waskita',
 'Bakianto Uwais',
 'Adikara Prasasta, S.IP',
 'Calista Haryanto',
 'Irfan Gunarto',
 'Marwata Wulandari, S.IP',
 'Kamila Habibi, S.E.',
 'Diah Melani']

In [ ]:
# Testing and evaluating accuracy
test_data['Recommendations'] = test_data.index.map(recommendations)
test_data['CorrectRecommendation'] = test_data.apply(lambda x: x.name in x['Recommendations'], axis=1)

# Calculate accuracy
accuracy = test_data['CorrectRecommendation'].mean()
print("Accuracy:", accuracy)

# Calculate precision, recall, and F1-score
from sklearn.metrics import precision_score, recall_score, f1_score

# Convert the ground truth labels to the appropriate data type, if needed
y_true = test_data['CorrectRecommendation'].astype(int)

# Convert the predicted labels to the appropriate data type, if needed
y_pred = test_data['CorrectRecommendation'].astype(int)

# Calculate precision, recall, and F1-score
precision = precision_score(y_true, y_pred)
recall = recall_score(y_true, y_pred)
f1 = f1_score(y_true, y_pred)

print("Precision:", precision)
print("Recall:", recall)
print("F1-score:", f1)

Accuracy: 0.83575
Precision: 1.0
Recall: 1.0
F1-score: 1.0

In [ ]:
from sklearn.metrics import confusion_matrix

# Calculate confusion matrix
conf_matrix = confusion_matrix(y_true, y_pred)
print("Confusion Matrix:")
print(conf_matrix)

# Check if the model is overfitting
if conf_matrix[0, 0] == y_true.sum() and conf_matrix[1, 1] == y_true.sum():
    print("Model is overfitting")
else:
    print("Model is not overfitting")

Confusion Matrix:
[[ 657    0]
 [   0 3343]]
Model is not overfitting